body {
	font-family: $font-base;

	color: $font-base-color;

	background-color: $background;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
h6 {
	font-family: 'Averta Regular';
}
body .grid-padding-x > .cell {
	padding-right: 0;
	padding-left: 0;
}
@media print, screen and (min-width: 40em) {
	.grid-padding-x > .cell {
		padding-right: 0;
		padding-left: 0;
	}
}
blockquote,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
td,
th,
ul {
	margin: unset;
}
