
div.carousel-callout {
	width: 900px;
	height: 600px;

	padding: 0;
	margin: 0 auto;

	overflow: hidden;

	vertical-align: bottom;

	background-color: $background;

	animation-name: animate;
	animation-duration: 1s;

	@media (max-width: 768px) {
		width: 90%;
	}

	.carousel-wrapper {
		position: relative;

		display: inline-block;

		height: 450px;
		min-width: 1850px;

		overflow: hidden;

		font-size: 0;

		transform: translateX(0%);

		transition: all 1s ease ;


		@media (max-width: 520px) {
			transform: translateX(-4%);
		}
		@media (max-width:768px) {
			height: 360px;
		}

		&.animate-item {
			transition: all 1s ease ;
		}
		.cell-item {
			@include border-radius(20px);

			position: relative;

			display: inline-block;

			width: 500px;
			height: 450px;

			margin: 0 auto;
			margin: 0 50px;

			overflow: auto;

			font-size: 16px;

			vertical-align: top;

			background-color: $background-box;

			animation-name: animate;
			animation-duration: 1s;
			transition: all 1s ease ;


			@media (max-width: 768px) {
				width: 22%;
				height: 350px;

				margin: 0 10px;
			}
			@media (max-width: 561px) {
				width: 16%;
				height: 350px;

				margin: 0 10px;
			}
			.destaque {
				color: $bottom-line-color;
			}

			&:nth-child(2) {
				background-color: $background-saldo;
			}
			&.cell-item--calendar {
				background-image: url('../img/icon-calendar.png');
				background-position: center;
				background-repeat: no-repeat;

				opacity: 0.2;
			}
		}
	}
	.control {
		display: block;

		width: 70px;

		margin: 0 auto;
		margin-top: 20px;
		.dots {
			display: inline-block;

			width: 20px;
			height: 20px;

			border: solid 1px #0c6880;
			border-radius: 5px;
			&.active {
				border: solid 1px $background-saldo;
			}
		}
	}
}
.value {
	position: relative;

	width: 100%;
	max-height: 200px;

	padding: 15px;

	overflow: hidden;

	font-size: 0;

	border-bottom: 1px solid $border-bottom-saldo;

	transition: all 0.5s ease;
	h4 {
		margin-bottom: 0;
	}
	.item-list {
		display: inline-block;

		font-size: 16px;
		font-family: $font-bold;

		vertical-align: middle;
		h4 {
			font-size: 16px;
		}
		[data-value] {
			font-size: 20px;
		}
	}
	.value-tools {
		width: 10%;

		img {
			width: 100%;

			padding: 6px;
		}
	}
	.value-info {
		width: 76%;

		margin-left: 4%;
	}
	.value-trash {
		width: 10%;

		text-align: right;
	}
	&.remove {
		max-height: 0;

		animation-name: remove;
		animation-duration: 1s;
	}
}

@keyframes remove {
	from {
		padding: 10;

		overflow: hidden;
	}
	to {
		top: -100px;

		padding: 0;

		border: none;
	}
}
