$fonts: './_fonts.scss';
$background: #074f69;
$background-saldo: #1ba8dc;
$border-bottom-saldo: #32b5e1;
$background-box: #0b6181;
$font-distak: #95ed76;
$font-base: 'Averta Regular';
$font-bold: 'Averta Bold';
$font-light: 'Averta light';
$font-base-color: #ffffff;
$bottom-line-color: #a3fe6b;
